<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<meta name="description" content="login" />
<meta name="author" content="Riccardo Cicero, Daniele D'Amico, Federico Giuliana" />
<link href="../static/css/loginAdmin.css"
	th:href="@{/css/loginAdmin.css}" rel="stylesheet" />

</head>
<body>
	<header>

		<h1>
			<a th:href="@{/}">FERRUCCIO</a>
		</h1>
	</header>
	<form th:action="@{'/admin' + '/' + ${admin.id}}"
		method="POST" th:object="${admin}">
		<article>
			<div class="center">
				Username: <input type="text" name="username" placeholder="Username"
					th:field="*{username}" /> <span
					th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
				<br> Password:&nbsp; <input type="password" name="password"
					placeholder="Password" th:field="*{password}" /> <span
					th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
				</span>
				<br>
				<button type="submit">Accedi</button>
			</div>
		</article>
	</form>

</body>

</html>