@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body{
    font-family: 'Raleway', sans-serif;


}
.padd {padding: 5% 0;}
.card-title {
    background-color: #d70f64;
    padding: 0 16px !important;
    bottom: 80% !important;
    font-size: 1.6vw !important;
}

.card-image span:nth-child(3){
  font-size:2.1vw !important;
  margin-left: 5%;
}

.badget-info{
      position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    display: inline-grid;
    background-color: #eef7ff;
    padding: 8px 12px;
    color: #000;
    font-weight: 700;
    line-height:1em;
  font-family: 'Raleway', sans-serif;
}

.card .card-content p {
    font-family: 'Raleway', sans-serif;
}
.card .card-content {
    padding: 3% 0 !important;
    margin-top: -9%;
}

.card .card-action {
    padding: 0% 20% !important;
}

ul li {
    display: inline-flex;
    padding-left: 5%;
}

.rating {
    display: inline-flex;
}
.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}
.rating span{
      font-size: 2.7vw;
}